body {
    font-family: Arial, sans-serif;
    background-color: #e7e6e6;
    margin: 0 auto;
    max-width: 1500px;
    margin-top: 80px;
}

*{
    margin: 0;
    padding: 0;
}

.header_inner {
    margin:  auto;
    max-width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: #169C2C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner a{color: #ffffff;
    text-decoration: none
}

.text {
    margin-left: 0;
    width: 550px;
    display: flex;
    align-items: center;
    position: relative;
}

.text input {
    /* flex: 1; */
    width: 1000%;
    height: 23px;
    /* padding: 0.3rem;
    margin: 0.3rem; */
    background-color: black;
    color: #9F9689;
    border-radius: 5px;
    padding: 10px 50px 10px 10px; 
    margin: 10px 0;
}

.text input:focus{
    border-color: chocolate;
    outline: none;
}

.text input::placeholder{
    color:#9F9689;
    font-size: larger;
}

.text i{
    font-size: 20px;
}

.text2{
    display: flex;justify-content: space-between;
    width: 250px;

}

.text2 a {
    text-align: center;
    font-size: 12px;
}

.text2 i {
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
}

.text2 a:hover {
    text-decoration: none;
}

.text button {
    position: absolute;
    right: 0px;
    top: 15%;
    transform: translateX(20%);
    border-left: none;
    width: 11%;
    height: 46px;
    margin: 0;
    background-color: #333333;
    color:white;
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
}

#user-info {
    display: inline-block;
}

#username {
    font-weight: bold;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 18px;
}

#logout-button {
    margin-top: 7px;
}

#logout-button a {
    padding: 2px 5px;
    background-color: #9F9689;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    text-align: left;
}

#logout-button a:hover {
    background-color: #00ac20;
}

.giohang {
    width: 1200px;
    margin: auto;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    position: relative;
}
.giohang h2 {
    margin-left: 10px;
}
.giohang .btn-delete-all {
    float: right;
    background-color: #169c2c;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 30px;
    transition: background-color 0.3s ease;
}

.giohang .btn-delete-all:hover {
    background-color: #00ac20;
}

.giohang .thongtinnhieusanpham {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    overflow-y: auto;
}

.empty-cart-message {
    text-align: center;
}
.empty-cart-message h2 {
    margin: 10px;
}
.empty-cart-message h4 {
    margin: 15px;
}
.empty-cart-message button {
    background-color: #169c2c;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: #00ac20;
}
.empty-cart-message a {
    text-decoration: none;
    color: white;
}

.sanpham1 {
    width: 98%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.sanpham1 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.sanpham1 .noidungsp {
    flex: 1;
    padding: 0 10px;
    font-size: 16px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.old-price {
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
}
.new-price {
    text-align: right;
    margin-right: 20px;
    font-size: 15px;
}
.price-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 100px;
    white-space: nowrap;
}

.quantity-container {
    gap: 5px;
    text-align: right;
    margin-right: 20px;
}

.quantity-btn {
    width: 30px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #169C2C;
    color: white;
    border: none;
    border-radius: 5px;
}

.quantity-btn:hover {
    background-color: #128C22;
}

.quantity-input {
    width: 50px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.thanhtien {
    text-align: right;
    margin-right: 20px;
    font-size: 17px;
}

.product-info {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 40%;
}

.product-info .btn-delete {
    margin-left: auto;
    color: #ffffff;
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.product-info .btn-delete:hover {
    transform: scale(1.1);
}

.ma-giam-gia {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    gap: 0px;
}

.ma-giam-gia input[type="text"] {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.ma-giam-gia button {
    margin-left: 10px;
    background-color: #169c2c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ma-giam-gia button:hover {
    background-color: #00ac20;
}

.tongtien {
    margin-left: 540px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    text-align: right;
}   
.tongtien .tamtinh {
    font-style: italic;
    font-size: 16px;
}
.tongtien .tamtinh-price {
    color: #9F9689;
}
.tongtien .tongtien-total {
    font-size: 17px;
    font-weight: bold;
}
.tongtien .tongtien-price {
    color: #00ac20;
}

.phuong-thuc-thanh-toan {
    margin-top: 30px;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

.phuong-thuc-thanh-toan h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.phuong-thuc-thanh-toan .radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.phuong-thuc-thanh-toan input[type="radio"] {
    margin-right: 20px;
    transform: scale(1.3);
}

#bank-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.form-thong-tin h3 {
    margin-top: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group label {
    width: 250px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

.form-group input {
    max-width: 800px;
    height: 35px;
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    max-width: 812px;
    height: 43px;
    flex: 1;
    padding: 5px;
    font-size: 16px;
    color: #9F9689;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.thong-tin-khach-hang {
    text-align: center;
}

.thong-tin-khach-hang button {
    width: 150px;
    background-color: #169c2c;
    color: white;
    border: 1px solid #00ac20;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s ease;
    margin-bottom: 30px;
}

.thong-tin-khach-hang button:hover {
    background-color: #ffffff00;
    border: 1px solid #00ac20;
}

.form-thong-tin {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    font-family: Arial, sans-serif;
    display: none;
}

.form-thong-tin h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #00ac20;
    padding-bottom: 10px;
}

.form-thong-tin p {
    font-size: 1.1em;
    color: #555;
    margin: 8px 0;
}

.form-thong-tin p span {
    font-weight: bold;
}

.form-thong-tin:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#bank-info.show {
    display: block;
}

.form-thong-tin .note {
    font-style: italic;
    color: #777;
}

.cuoitrang {
    width: 1120px;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuoitrang .khochua {
    width: 19%;
    height: 99%;
}

.khochua h2 {
    font-size: 18px;
    color: #787878;
}

.item1 ul {
    width: 100%;
    height: auto;
    font-size: 14px;
    list-style: none;
}

.item2 ul {
    margin-top: 20px;
    margin-left: 15px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.khoiketnoi {
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 100%;
}