
body {
    font-family: Arial, sans-serif;
    background-color: #e7e6e6;
    margin: 0 auto;
    max-width: 1500px;
    margin-top: 80px;
}
* {
    margin: 0;
    padding: 0;
}
.header_inner {
    margin:  auto;
    max-width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: #169C2C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
.header__inner {
    background-color: #333333;
    min-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
   width: 100%;
}

.menu {
    align-items: center;
    display: flex;
    width: 1200px;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
}

.menu li {
    height: 35px;
    align-items: center;
    display: flex;
}

.menu_items:hover {
    transition: 0.25s;
    color: #7f7f7f;
}

.menu_items:hover .menu_child {
    visibility: visible;
    opacity: 1;
    color: rgb(255, 255, 255);
    max-height: 300px;
}

.menu_items {
    margin: 0 13px;
    list-style: none;
    color: rgb(248, 248, 248);
    display: block;
    font-size: 120%;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.menu_child_list :hover {
    color: #00ac20;
}

.menu_child_list a {
    text-decoration: none;
}

.menu_child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s linear;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 138px;
    font-size: 14px;
    max-width: 1200px;
    border-top: 1px solid #ccc;  /* Đường kẻ trên menu con */
}

.menu_child_list {
    list-style: none;
}

.menu_child_list li {
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    padding-left: 5px;
}

.menu_child_item {
    width: 28%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}

.menu_child_item:first-child {
    border-left: none;  /* Loại bỏ đường kẻ cho thẻ đầu tiên */
}

.menu_child_item h4 {
    width: 250px;
    height: 40px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    font-size: 1.4rem;
    background-color: rgb(21, 153, 43);
    border-radius: 0 0 20px 0px;
}
.logo {
    max-width: 2rem;
}

.header_inner a{color: #ffffff;
    text-decoration: none}
    

.menu {
    position: fixed;  /* Cố định menu */
    top: 80px;  /* Cách phần header 80px */
    left: 0;
    width: 100%;
    background-color: #333333; /* Màu nền của menu */
    z-index: 999; /* Đảm bảo menu luôn ở trên cùng */
    padding: 0; /* Loại bỏ khoảng cách mặc định */
}
.text {
    
    margin-left: 0;
    width: 550px;
    display: flex;
    align-items: center;
    position: relative;
}

.text input {
    /* flex: 1; */
    width: 1000%;
    height: 23px;
    /* padding: 0.3rem;
    margin: 0.3rem; */
    background-color: black;
    color: #9F9689;
    border-radius: 5px;
    padding: 10px 50px 10px 10px; 
    margin: 10px 0;
}
.text input:focus{
    border-color: chocolate;
    outline: none;
}
.text input::placeholder{
    color:#9F9689;
    font-size: larger;
}

.text2{
    display: flex;justify-content: space-between;
    width: 250px;

}
.text2 a {
    text-align: center; /* Center the content */
    font-size: 12px; /* Smaller text size */
}

.text2 i {
    font-size: 25px; /* Larger icons */
    margin-bottom: 5px; /* Space between icon and text */
    color: black;
}

.text2 a:hover {
    text-decoration: none; /* Remove underline on hover */
}

.text button {
    position: absolute;
    right: 0px;
    top: 15%;
    transform: translateX(20%);
    border-left: none;
    width: 11%;
    height: 46px;
    margin: 0;
    background-color: #333333;
    color:white;
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
}
#search-results {
    position: absolute;
    top: 53px;
    left: 0;
    width: 89%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
    cursor: pointer;
}

#search-results div {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

#search-results div:hover {
    background-color: #f9f9f9;
}

#search-results img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

#search-results h4 {
    max-width: 180px;
    margin: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#search-results p {
    margin: 15px 0px 0px 50px;
    color: #777;
    font-size: 14px;
}
.intro {
    align-items: center;
    width: 1200px;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    margin: 11px;
}

.intro a {
    margin-right: 15cm;
}

.intro img {
    margin: 0;
    margin-left: 20rem;
}
.Infor {
    background-color: #e7e6e6;
    margin-top: 15px;
    width: 1200px;
    min-height: 1350px; /* Sử dụng min-height thay vì height để phần này có thể kéo dài */
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Đảm bảo các phần tử con không bị lệch */
}

.sidebar {
    margin-top: 25px;
    background-color: #f8f9fa;
    padding: 25px;
    height: 100%; /* Chiều cao tự động với các phần tử bên trong */
    width: 220px;
    border-right: 1px solid #ddd;
}

.sidebar h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.sidebar .list-group {
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none; 
}
.sidebar .list-group li {
    margin-bottom: 15px;
}
.sidebar .list-group-item a:hover {
    color: #00ac20;
}
.sidebar .list-group input{
    margin-bottom: 15px;

}
.sidebar .list-group-item {
    border: none;
    padding: 8px 10px;
    background-color: transparent;
    transition: all 0.3s ease;
    list-style-type: none; 
}

.sidebar .list-group-item a {
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
}

.sidebar .list-group-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.sanpham {
    background-color: #e7e6e6;
    flex: 1;
    margin-left: 15px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.khuyenmailoai1 {
    height: 100%;
    width: 100%;
    background-color: #e7e6e6;
    margin: auto;
}

.tieude { 
    justify-content: space-between; 
    display: flex;
}

.tieudebanhang {
    height: 50px;
    width: 300px;
    background-color: #00ac20;
    border-end-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #f3f3f3;
}

.btnloaimt{
    padding: 10px;
    margin: 0 5px;
    border-radius: 7px;
    border: 1px solid;
}

.btnloaimt:hover{
    padding: 10px;
    border: 1px solid green;
    border-radius: 7px ;
}

.btnloaimt:active{
    transform: scale(0.95);
}

.tieudebanhangloai1 {
    height: 50px;
    width: 300px;
    background-color: #00ac20;
    border-end-end-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #f3f3f3;
}

.giacu{
    text-decoration: line-through 1px solid;
    font-size: 10px;
}

.giamoi{
    color:#E10000 ;
}

.sao {
    width: 2cm;
    height: 0.4cm;
    object-fit: contain;
}

.danhsachkhuyenmai {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.danhsachkhuyenmailoai1 {
    height: 400px;
    width: 100%;
    background-color: #e7e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.danhsachkhuyenmailoai1 .thanhphan {
    width: 290px;
}

.thanhphan img {
    max-height: calc((20/100)*1200px);
    max-width: 100%;
    object-fit: contain;
}

.ten {
    height: 36.8px;
}

.giamgia {
    background-color: hwb(0 0% 13%);
    color: #ffffff;
    font-size: 13px;
    padding: 3px 90px 0px 10px;
    margin-bottom: 5px;
    border-bottom: 10px;
    border-radius: 5px;
    transform: translateY(-50px);
    display: flex;
}

.ten {
    margin-top: 5px;
    margin-bottom: 5px;
}

.anhmauhang {
    -webkit-user-drag: none;
    user-select: none;
    width: 240px;
    height: 240px;
}

.anhmauhang img {
    width: 100%;
    height: 100%;
}

.anhmauhang:hover {
    transition: 0.5s;
    position: relative;
    transform: translateX(-5px) translateY(-5px) scale(1.02);
}

.thanhphan {
    background-color: #FFFFFF;
    overflow: hidden;
    height: 100%;
    width: 260px;
    margin: 5px;
    flex-wrap: wrap;
}

.hinhanh {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thongtingiaban {
    height: 130px;
}

.thanhphan h4 {
    margin-left: 10px;
}

.thongtingiaban span {
    display: inline-block;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.cuoitrang{
    width: 1120px;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cuoitrang .khochua{
    width: 19%;
    height: 99%;
}
.cuoitrang .tem1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.khochua h2{
    font-size: 18px;
    color: #787878;
}
.item1 ul{
    width: 100%;
    height: auto;
    font-size: 14px ;
    list-style: none;
    
}
.cuoitrang .tem1 h3{
    font-size: 16px
}
.cuoitrang div ul li{
    width: 100%;
}
.item2 ul{
    margin-top: 20px;
    margin-left: 15px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.khoi1 {
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.khoiketnoi{
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 100%;
}
.khochua h2{
    font-size: 18px;
    color: #787878;
}
.cuoitrang .khochua{
    width: 19%;
    height: 99%;
}
#user-info {
    display: inline-block;
}
  
#username {
    font-weight: bold;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 18px;
}
  
#logout-button {
    margin-top: 7px;
}

#logout-button a {
    padding: 2px 5px;
    background-color: #169C2C;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    text-align: left;
}
  
#logout-button a:hover {
    background-color: #00ac20;
}